footer {
  .footer-main {
    background-color: #1c1c1c;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0px;
      top: 10px;
      border-top: 2px dashed #414141
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: 10px;
      border-top: 2px dashed #414141
    }
    h3 {
      font-size: 13px;
      font-family: "Helvetica";
      color: rgb(241, 238, 229);
      font-weight: bold;
      text-align: left;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
      margin-bottom: 15px;
    }
    p {
      font-size: 12px;
      font-family: "Helvetica";
      color: rgb(151, 151, 151);
      line-height: 1.667;
      text-align: left;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
      .highlight {
        color:white;
      }
    }
    .subscribe-form {
      background-color: #101010;
      width: 100%;
      border: 2px solid black;
      border-radius: 5px;
      [type=text] {
        background-color: transparent;
        color: rgb(151, 151, 151);
        width: calc(100% - 110px);
        padding: 5px;
        border: none;
        &:focus{
          outline: 0;
        }
      }
      [type=button]{
        background-image: linear-gradient(#eaeaea, #cecece);
        font-size: 12px;
        font-family: "Helvetica";
        color: rgb(74, 74, 74);
        font-weight: bold;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.43);
        width: 110px;
        padding: 6px 15px;
        border: 2px solid black;
        border-radius: 10px;
        &:hover {
          background-image: linear-gradient(#cecece, #eaeaea);
        }
        &:focus{
          outline: 0;
        }
      }
    }
    
  }



  .footer-secondary {
    background-color: #0d0d0d;
    padding-top: 20px;
    padding-bottom: 10px;;
    p {
      font-size: 12px;
      font-family: "Helvetica";
      color: rgb(98, 98, 98);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
      .highlight {
        color: #989898;
      }
    }
    
  }
}